# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
nbproject/
nbactions.xml

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Archivos de log
*.log
logs/

# Archivos temporales
*.tmp
*.temp

# Archivos empaquetados (puedes elegir si subir el jar o no)
*.jar
*.war
*.ear
*.zip